# LangChain Core
langchain
langchain-core
langchain-community

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Local vector db
faiss-cpu

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
streamlit
flask
pydantic

# langgraph
langgraph

# LangGraph checkpointer using a SQLite database for persistence
langgraph-checkpoint-sqlite

# duckduckgo search run
ddgs
